<div class="container">
  <h1>Servicios del Inmueble</h1>

  <!-- Mostrar mensaje de error si existe -->
  <div *ngIf="mensajeError" class="error-message">
    {{ mensajeError }}
  </div>

  <!-- Lista de servicios del inmueble -->
  <div *ngIf="serviciosInmueble.length > 0">
    <ul>
      <li *ngFor="let servicio of serviciosInmueble">
        {{ servicio.descripcion_servicio }}
        <ion-button (click)="deleteInmuebleServicio(servicio.id_servicio)" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
      </li>
    </ul>
  </div>
  <div *ngIf="serviciosInmueble.length === 0">
    <p>No hay servicios asociados a este inmueble.</p>
  </div>

  <!-- Formulario para agregar un servicio al inmueble -->
  <div>
    <h3>Agregar Servicio</h3>
    <label for="id_servicio">Selecciona un servicio: </label>
    <div class="select-button-container">
      <select [(ngModel)]="newInmuebleServicio.id_servicio" id="id_servicio">
        <option *ngFor="let servicio of allServicios" [value]="servicio.id_servicio" [disabled]="isServicioSelected(servicio.id_servicio)">
          {{ servicio.descripcion_servicio }}
        </option>
      </select>
      <button (click)="addInmuebleServicio()">Agregar Servicio</button>
    </div>
  </div>
</div>
