<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Propiedades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
      <ion-item *ngFor="let inmueble of listaInmuebles; trackByInmueble">
        <ion-label>{{ inmueble.titulo_inmueble }}</ion-label>
        <ion-button (click)="openModal(inmueble)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteInmueble(inmueble)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
  </ion-list>
  <ion-button (click)="openModal()" expand="block">Publicar propiedad</ion-button>
</ion-content>