form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ion-item {
  --padding-start: 12px;
  --inner-padding-end: 0;
  --border-width: 1px;
  --border-color: #d4d4d4;
  --border-radius: 16px;
  display: flex;
  flex-direction: row-reverse;

  ion-icon {
    transform: translateY(-7px);
  }
}

ion-select {
  height: 56px;
}

ion-button {
  margin-top: 20px;
  --background: #000;
  --background-activated: #222;
  --background-hover: #111;
  --ripple-color: transparent;
}
