ion-button {
    --border-radious: 0px !important;
    --box-shadow: none !important;
    --background: #000;
    --background-activated: #222;
    --background-hover: #111;
}

ion-item{
    border: 1px solid #d4d4d4 !important;
    padding-left: 12px !important;
    margin-top: 4px;
    display: flex;
    flex-direction: row-reverse;
    ion-icon{
        transform: translateY(-7px);
    }
  }