<div class="wrapper">
  <ion-buttons slot="start" class="ion-hide-md-up">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <a class="title" [routerLink]="'/'">Escapeo</a>
  <div class="buttons ion-hide-md-down">
    <ion-button
      *ngFor="let item of menuItems"
      mode="ios"
      [routerLink]="item.path"
      [queryParams]="item.queryParams"
      fill="clear"
    >
      {{ item.label }}
    </ion-button>
  </div>
  <ion-buttons slot="end">
    <ion-button
      *ngIf="!isAuthenticated"
      mode="ios"
      [routerLink]="'/login'"
      fill="outline"
    >
      Iniciar sesión
    </ion-button>
    <app-avatar
      *ngIf="isAuthenticated"
      [initials]="userInitials"
      (onClick)="presentPopover($event)"
    ></app-avatar>
  </ion-buttons>
</div>
