@import "../../../theme/variables.scss";

.wrapper {
  min-height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.title {
  font-size: 24px;
  color: #000;
  text-decoration: none;
}

.buttons {
  display: flex;
  align-items: center;
}

ion-button {
  --border-radius: 16px;
  --color: #000;
}

ion-button[fill="outline"] {
  --border-color: #000;
  --background-hover: #fff;
}