<ion-list>
    <ion-item class="nombre-usuario">
        <ion-label>{{ userFullName }}</ion-label>
    </ion-item>
    @if(authService.isAdmin()) {
        <ion-item lines="none" button (click)="navigateTo('/super-admin-menu')">
            <ion-label>
                <ion-icon name="settings"></ion-icon>
                Superadministración
            </ion-label>
        </ion-item>
    }
    @if (authService.getUserType() === 'Propietario') {
        <ion-item lines="none" button (click)="navigateTo('/manage-inmuebles')">
            <ion-label>Reservas en mis inmubeles</ion-label>
        </ion-item>
    }
    <ion-item lines="none" button (click)="navigateTo('/dashboard')">
        <ion-label>Mi perfil</ion-label>
    </ion-item>
    <ion-item lines="none" button (click)="signout()">
        <ion-label>Cerrar sesión</ion-label>
    </ion-item>
</ion-list>