<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <form class="form-container" [formGroup]="loginForm" (ngSubmit)="login()">
          <h3>Iniciar sesión</h3>
          <div class="warning"></div>
          <ion-item lines="none">
            <ion-input labelPlacement="floating" label="Email" type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item class="password-item" lines="none">
            <ion-input labelPlacement="floating" label="Contraseña" [type]="showPassword ? 'text' : 'password'" formControlName="password">
              <ion-button fill="clear" (click)="togglePasswordVisibility()">
                <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
              </ion-button>
            </ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="error" class="error-text">
            Credenciales incorrectas
          </ion-text>
          <ion-button mode="ios" expand="block" type="submit" [disabled]="loginForm.invalid || loginFlag">
            {{ loginFlag ? 'Iniciando sesión...' : 'Iniciar sesión' }}
            @if(!loginFlag){
              <ion-icon name="chevron-forward"></ion-icon>
            }@else{
              <ion-spinner name="lines"></ion-spinner>
            }
          </ion-button>
          <ion-button mode="ios" class="fpbtn" fill="clear" routerLink="/recovery-account">
            Olvidé mi contraseña
          </ion-button>
        </form>
        <ion-button mode="ios" expand="block" fill="clear" routerLink="/signup">
          ¿No tienes cuenta? Regístrate
        </ion-button>
      </ion-col>
      <ion-col class="bgImage ion-hide-sm-down">
        <!-- Solo tengo este col para poner la imagen de fondo -->
      </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
</ion-content>