<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Dashboard</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Nombre:</strong> {{ user?.nombre }}</p>
      <p><strong>Apellido:</strong> {{ user?.apellido }}</p>
      <p><strong>Email:</strong> {{ user?.email }}</p>

      <ion-button expand="full" mode="ios" (click)="navigateCeInmueble()">
        <ion-icon slot="start" name="add"></ion-icon>
        Crear nuevo Inmueble
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>