<ion-content>
  <form class="form-container" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <h3>Restablecer contraseña</h3>
    <ion-item lines="none">
      <ion-input labelPlacement="floating" label="Nueva contraseña" type="password" formControlName="newPassword"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input labelPlacement="floating" label="Confirmar nueva contraseña" type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="resetError" class="error-text">
      {{ resetError }}
    </ion-text>
    <ion-text color="success" *ngIf="resetSuccess" class="success-text">
      {{ resetSuccess }}
    </ion-text>
    <ion-button mode="ios" expand="block" type="submit" [disabled]="resetPasswordForm.invalid">
      Restablecer contraseña
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-button>
  </form>
</ion-content>