.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ion-router-outlet {
    flex-grow: 1;
}

ion-header {
    --border-width: 0;
    box-shadow: none;
}

h1 {
    text-align: center;
    cursor: pointer;
}