<ion-app>
  <ion-menu menuId="1" contentId="main-content" class="sidebar-menu">
      <ion-toolbar>
        <h1 (click)="navigateTo('/')">AlquileresApp</h1>
        <ion-buttons slot="end">
          <ion-menu-button menu="1">
            <ion-icon name="close"></ion-icon>
          </ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    <ion-content>
      <ion-list>
        <ion-item button *ngFor="let item of menuItems" (click)="navigateTo(item.path, item.queryParams)">
          <ion-label>
            {{ item.label }}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <app-header></app-header>
    </ion-header>
    <ion-content>
      <ion-router-outlet>
      </ion-router-outlet>
    </ion-content>
  </div>
</ion-app>