.cover-image {
    background-image: url('/assets/login-page-hero-photo.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}

::ng-deep {
    ngx-daterangepicker-material {
        & {
            .btn {
                background-color: black !important;
                border-radius: 0 !important;
                box-shadow: none !important;
            }

            .md-drppicker.shown {
                transform: translate(-427px, 12px) !important;
                display: flex !important;
                align-items: end !important;
                gap: 8px !important;
            }

            td.active {
                background-color: black !important;
                color: white !important;
            }
        }
    }
}

h1,
h3,
h5 {
    margin: 0;
}

h1{
    margin-bottom: 16px;
}

ion-button {
    --border-radius: 0px !important;
    --box-shadow: none !important;
    --background: #000;
    --background-activated: #222;
    --background-hover: #111;
}

.fecha_card {
    border-radius: 8px;
    background-color: #ddd;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-with-icon {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    input {
        width: 300px;
        box-sizing: border-box;
        border-radius: 0px;
        border: 2px solid #000;
        padding: 8px;
        padding-left: 2.5rem;
        margin-top: 8px;
    }

    ion-icon {
        position: absolute;
        top: 18px;
        left: 0.75rem; // Ajusta la posición según sea necesario
        color: #666; // Ajusta el color según sea necesario
    }
}

.leftcard{
    padding-right: 16px;
}