<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">{{ inmueble ? 'Editar' : 'Crear' }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input
      label="Título"
      labelPlacement="stacked"
      type="text"
      placeholder="Título de la propiedad"
      [(ngModel)]="titulo_inmueble"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Descripción"
      labelPlacement="stacked"
      type="text"
      placeholder="Descripción"
      [(ngModel)]="descripcion_inmueble"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Precio por noche"
      labelPlacement="stacked"
      type="number"
      placeholder="Precio por noche"
      [(ngModel)]="precio_noche"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Dirección"
      labelPlacement="stacked"
      type="text"
      placeholder="Dirección"
      [(ngModel)]="direccion_inmueble"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Capacidad"
      labelPlacement="stacked"
      type="number"
      placeholder="Capacidad"
      [(ngModel)]="capacidad"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="ID Propietario"
      labelPlacement="stacked"
      type="number"
      placeholder="ID Propietario"
      [(ngModel)]="id_propietario"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Localidad</ion-label>
    <ion-select [(ngModel)]="cod_postal">
      <ion-select-option *ngFor="let localidad of localidades" [value]="localidad.cod_postal">{{ localidad.nombre }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Tipo de Propiedad</ion-label>
    <ion-select [(ngModel)]="id_tipoinmueble">
      <ion-select-option *ngFor="let tipo of tiposInmueble" [value]="tipo.id_tipoinmueble">{{ tipo.descripcion }}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
