<div class="footer-container">
  <div class="footer-wrapper">
    <div class="column">
      <h1>AlquileresApp</h1>
    </div>
    <div class="column">
      <h2>Inmuebles</h2>
      <ul>
        <li><a href="#">Tipos de alojamiento</a></li>
        <li><a href="#">Organizados por ubicación</a></li>
      </ul>
    </div>
    <div class="column">
      <h2>Información</h2>
      <ul>
        <li><a href="#">Sobre el trabajo práctico</a></li>
        <li><a href="#">Sobre las tecnologías utilizadas</a></li>
        <li><a href="#">POC</a></li>
      </ul>
    </div>
    <div class="column">
      <h2>Inicio de sesión</h2>
      <ul>
        <li><a href="#">Para huéspedes</a></li>
        <li><a href="#">Para propietarios</a></li>
      </ul>
    </div>
    <div class="column">
      <h2>Integrantes</h2>
      <ul>
        <li>Alexis Arancibia</li>
        <li>Alexis Gonzalez</li>
        <li>E. Gastón Altamirano</li>
        <li>Veronica Jimenez</li>
      </ul>
    </div>
  </div>
</div>