<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="5" size-xm="12" class="heroText">
        <div class="heroWrapper">
          <ion-row>
            <ion-col size="12">
              <h1>¡Encontrá tu alojamiento ideal!</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <h3>Con nosotros todo está resuelto, solo queda disfrutar</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <app-buscador></app-buscador>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="7" class="ion-hide-sm-down">
        <div class="hero-background"></div>
      </ion-col>
    </ion-row>
    <div class="recientes-container">
      <ion-row>
        <h2>Los mas recientes</h2>
      </ion-row>
      <ion-row class="recientes-collection">
        @for (inmueble of inmuebles; track inmueble.id_inmueble){
          <app-resultado-inmueble [inmuebleActual]="inmueble"></app-resultado-inmueble>
        }
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
<app-footer></app-footer>