<div
  *ngIf="inmuebleActual()"
  class="card-wrapper"
  [ngStyle]="{ opacity: reservaActual?.estado === 'Cancelado' ? '0.5' : '1' }"
>
  <div class="img" style="height: 200px; width: auto">
    <picture>
      <img [src]="coverPhoto()" />
    </picture>
  </div>
  <h1 class="nombre">{{ inmuebleActual()!.titulo_inmueble }}</h1>
  <div class="rating">
    <app-rating [calificacionPromedio]="getCalificacionPromedio()"></app-rating>
  </div>
  <p class="direccion">{{ inmuebleActual()!.direccion_inmueble }}</p>
  <b class="precio">$ {{ inmuebleActual()!.precio_noche }}</b>
  <p class="descripcion" *ngIf="showDescripcion">
    {{ inmuebleActual()!.descripcion_inmueble }}
  </p>
  <p class="descripcion" *ngIf="showFechaVisita">
    Alojado el día: {{ reservaActual?.fecha_inicio | date : "dd/MM/yyyy" }}
  </p>

  <ion-button
    *ngIf="!showEditButtons && !showReservaButton && !showReservaPasadaButtons"
    [disabled]="showDescripcion || !!reservaActual?.fecha_inicio"
    expand="full"
    mode="ios"
    class="details-btn"
    (click)="navigateToInmuebleDetails(inmuebleActual()!.id_inmueble)"
  >
    {{
      reservaActual?.fecha_inicio
        ? "Reservado el día " +
          (reservaActual?.fecha_inicio | date : "dd/MM/yyyy")
        : "Más Información"
    }}
    <ion-icon slot="end" name="chevron-forward"></ion-icon>
  </ion-button>

  <ion-button
    *ngIf="showReservaPasadaButtons"
    [disabled]="!!reservaActual?.valoracion"
    expand="full"
    mode="ios"
    class="details-btn"
    (click)="calificarEstadia()"
  >
    Calificar estadía
    <ion-icon slot="end" name="star-outline"></ion-icon>
  </ion-button>

  <div *ngIf="showEditButtons" class="details-btn actions-container">
    <ion-button
      [disabled]="
        showDescripcion ||
        !!reservaActual?.fecha_inicio ||
        !inmuebleActual()!.habilitado
      "
      expand="full"
      mode="ios"
      (click)="navigateToEditInmueble()"
    >
      Editar
      <ion-icon slot="end" name="create"></ion-icon>
    </ion-button>
    <ion-button
      [disabled]="showDescripcion || !!reservaActual?.fecha_inicio"
      expand="full"
      mode="ios"
      (click)="toggleVisibilidad()"
    >
      {{ inmuebleActual()!.habilitado ? "Deshabilitar" : "Habilitar" }}
      <ion-icon
        slot="end"
        [name]="inmuebleActual()!.habilitado ? 'eye-off' : 'eye'"
      ></ion-icon>
    </ion-button>
  </div>

  <div
    *ngIf="
      showReservaButton &&
      reservaActual?.fecha_inicio &&
      reservaActual?.estado !== 'Cancelado'
    "
    class="details-btn actions-container"
  >
    <ion-button
      expand="full"
      mode="ios"
      (click)="
        navigateToInmuebleDetails(
          inmuebleActual()!.id_inmueble,
          reservaActual!.fecha_inicio,
          reservaActual!.fecha_fin
        )
      "
    >
      Detalles
      <ion-icon slot="end" name="calendar-outline"></ion-icon>
    </ion-button>
    <ion-button expand="full" mode="ios" (click)="cancelarReserva()">
      Cancelar
      <ion-icon slot="end" name="close-outline"></ion-icon>
    </ion-button>
  </div>

  <div
    *ngIf="reservaActual?.estado === 'Cancelado'"
    class="details-btn canceled-info"
  >
    Habías reservado del:
    {{ reservaActual?.fecha_inicio | date : "dd/MM/yyyy" }} al
    {{ reservaActual?.fecha_fin | date : "dd/MM/yyyy" }}
  </div>
</div>
<div *ngIf="!inmuebleActual()">
  <p>No hay datos para mostrar todavía.</p>
</div>
