.card-wrapper {
    display: grid;
    grid-template-columns: auto, 1fr;
    grid-template-rows: auto repeat(3, auto);
    grid-column-gap: 0px;
    grid-row-gap: 16px;
    padding: 4px;
    border: 1px solid black;
    width: 300px;

    @media screen and (max-width: 768px) {
        width: none;
        min-width: 90vw;
    }
}

picture {
    width: 100%;
    height: 100%;
    display: flex;
}

picture img {
    object-fit: cover;
    height: auto;
    width: 100%;
}

h1,
p {
    margin: 0;
}

.precio {
    text-align: end;
}

h1 {
    font-size: 22px;
}

.rating {
    display: flex;
    justify-content: end;
    align-items: center;
}

.img {
    grid-area: 1 / 1 / 2 / 3;
}

.nombre {
    grid-area: 2 / 1 / 3 / 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    display: block;
}

.rating {
    grid-area: 2 / 2 / 3 / 3;
}

.direccion {
    grid-area: 3 / 1 / 4 / 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    display: block;
}

.precio {
    grid-area: 3 / 2 / 4 / 3;
}

.descripcion {
    grid-area: 4 / 1 / 5 / 3;
}

.details-btn {
    grid-area: 5 / 1 / 5 / 3;
}

ion-button {
    --border-radious: 0px !important;
    --box-shadow: none !important;
    --background: #000;
    --background-activated: #222;
    --background-hover: #111;
}

.descripcion {
    word-break: break-all;
}