<div class="card-wrapper">
  <img src="../../../assets/signup-page-hero-photo.jpg" width="100%">
  <h1 class="nombre">{{inmuebleActual.titulo_inmueble}}</h1>
  <div class="rating">
    <app-rating [calificacionPromedio]="getCalificacionPromedio()"></app-rating>
  </div>
  <p class="direccion">{{inmuebleActual.direccion_inmueble}}</p>
  <b class="precio">$ {{inmuebleActual.precio_noche}}</b>
  <p class="descripcion" *ngIf="showDescripcion">{{inmuebleActual.descripcion_inmueble}}</p>
  <ion-button *ngIf="!showEditButtons" [disabled]="showDescripcion || fechaReserva" expand="full" mode="ios" class="details-btn"
    (click)="navigateToInmuebleDetails(inmuebleActual.id_inmueble)">
    {{fechaReserva ? "Reservado el día " + (fechaReserva | date:"dd/MM/yyyy") : "Más Información"}}
    <ion-icon slot="end" name="chevron-forward"></ion-icon>
  </ion-button>
  <div *ngIf="showEditButtons" style="display: flex; width: 100%;" class="details-btn">
    <ion-button [disabled]="showDescripcion || fechaReserva || !inmuebleActual.habilitado" expand="full" style="width: 100%;" mode="ios"
      (click)="navigateToEditInmueble()">
      Editar
      <ion-icon slot="end" name="create"></ion-icon>
    </ion-button>
    <ion-button [disabled]="showDescripcion || fechaReserva" expand="full" style="width: 100%;" mode="ios" (click)="toggleVisibilidad()">
      {{inmuebleActual.habilitado ? "Deshabilitar" : "Habilitar"}}
      <ion-icon slot="end" [name]="inmuebleActual.habilitado ? 'eye-off' : 'eye'"></ion-icon>
    </ion-button>
  </div>
</div>